/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #eee;
    background-color: #222;
}

/* Header Styles */
header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    width: 100%;
}

header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: #6bfefbff;
    filter: blur(4px);
    opacity: 1;
    pointer-events: none;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

header nav ul li {
    text-align: left;
}

header nav ul li::before {
    content: " • ";
    font-weight: 700;
    margin: 0 1em;
}

header nav ul li:first-child::before {
    content: "   ";
    font-weight: 700;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Section Styles */
main {
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

section {
    margin-bottom: 2rem;
    padding: 1rem;
    background: #333;
    border-radius: 5px;
}

.glow1 {
    box-shadow: 
    0 0 15px rgb(254, 107, 217),
    0 0 20px rgb(254, 107, 217),
    0 2px 5px rgba(0, 0, 0, 0.3);
}

.glow2 {
    box-shadow: 
    0 0 15px rgb(254, 107, 107),
    0 0 20px rgb(254, 107, 107),
    0 2px 5px rgba(0, 0, 0, 0.3);
}

.glow3 {
    box-shadow: 
    0 0 15px rgb(107, 188, 254),
    0 0 20px rgb(107, 188, 254),
    0 2px 5px rgba(0, 0, 0, 0.3);
}

section h1, section h2 {
    color: #ddd;
}

section p, section ul {
    margin: 1rem 0;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

form input, form textarea, form button {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #555;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

.image-grid img{
    width: calc(50% - .25em);
    height: 250px;
    object-fit: cover;
}

.image-grid img:hover{
    scale: 1.05;
}