<section class="glow1">
  <h1>Game</h1>
</section>

<section class="glow2">
  <h2>Screenshots</h2>
  <div id="image-grid-screenshots" class="asset-grid"></div>
</section>

<section class="glow4">
  <h2>Assets</h2>
  <div id="image-grid-assets" class="asset-grid"></div>
</section>

<section class="glow5">
  <h2>Blueprints</h2>
  <div id="blueprint-grid" class="asset-grid">
    <div class="image-container" style="width: calc(50% - 3px);">
      <iframe src="https://blueprintue.com/render/nch-vvh3/" scrolling="no" allowfullscreen style="border: 0; width: calc(100% - 10px); height: 300px;"></iframe>
      <small>This is the code for the lift in the sewer</small>
    </div>
    <div class="image-container" style="width: calc(50% - 3px);">
      <iframe src="https://blueprintue.com/render/81z_opce/" scrolling="no" allowfullscreen style="border: 0; width: calc(100% - 10px); height: 300px;"></iframe>
      <small>This is the code for the lazer that the ai enermys shoot. It slows the player down slightly.</small>
    </div>
    <div class="image-container" style="width: calc(50% - 3px);">
      <iframe src="https://blueprintue.com/render/qysc1njw/" scrolling="no" allowfullscreen style="border: 0; width: calc(100% - 10px); height: 300px;"></iframe>
      <small>This is a simple function to lower the sewer pipes</small>
    </div>
    <div class="image-container" style="width: calc(50% - 3px);">
      <iframe src="https://blueprintue.com/render/bxwdg3vy/" scrolling="no" allowfullscreen style="border: 0; width: calc(100% - 10px); height: 300px;"></iframe>
      <small>This lowers all sewer pipes into the water</small>
    </div>
    <div class="image-container" style="width: calc(50% - 3px);">
      <iframe src="https://blueprintue.com/render/4aba3q4g/" scrolling="no" allowfullscreen style="border: 0; width: calc(100% - 10px); height: 300px;"></iframe>
      <small>This is the code for the AI enemy detection system</small>
    </div>
    <div class="image-container" style="width: calc(50% - 3px);">
      <iframe src="https://blueprintue.com/render/_a__haql/" scrolling="no" allowfullscreen style="border: 0; width: calc(100% - 10px); height: 300px;"></iframe>
      <small>This is the code for the sewer grates</small>
    </div>
    <div class="image-container" style="width: calc(50% - 3px);">
      <iframe src="https://blueprintue.com/render/jb4zar2-/" scrolling="no" allowfullscreen style="border: 0; width: calc(100% - 10px); height: 300px;"></iframe>
      <small>This is the code for the traffic lights that float up and down</small>
    </div>
  </div>
</section>