<section class="glow2">
    <h1>Research</h1>
    <h3>Ophiocordyceps unilateralis fungus</h3>
    <p>
        This fungus infects ants and other insects and controls their movements, its end goal is to self-propagate and disperse (Lu, 2019).<br>
        I would like to use this fungus as inspiration for how the AI would spread its control across the population. The fungus cause the ants to leave their canopy nests for the forst floor which is more suitable for the fungal growth (Wikipedia Ophiocordyceps unilateralis, 2020).<br> I would use a similar consecpt for my AI to spread its control across the population. Bringing them to one central location where the AI would have more control due to the proximity to the tower.
    </p>
    <h3>The Last of Us</h3>
    <p>
        I would like to use the last of us as inspiration for my game,
    </p>
    <h3>World of The World</h3>
    <p>
        War of the world is a novel writen by H.G. Wells in the mid to late 1890s. It focuses around an alien object landing in Horsell Common and several Martians energe. When a human approvches waving a white flag the Martians ininerate them using a heat ray (Wikipedia The War of the Worlds, 2019). 


        I want to use this and inspiration for the AI in my game that will keep the human population in check. There willingness to kill humans would be perfect for my AI to show there lack of empathy and the fact that the humans are just a tool to get a job done. I would also like to take inspiration from War of the Worlds: The Attack for some of the visual aspects of the outside of the compound. The trailer show the martians being launced from mars and landing on earth and then slowly crawling out (Vertical, 2023). 
    </p>
</section>
<section class="glow4">
    <h3>Bibliography</h3>
    <p>
        Lu, J. (2019). How a Parasitic Fungus Turns Ants into ‘zombies’. [online] National Geographic. Available at: https://www.nationalgeographic.com/animals/article/cordyceps-zombie-fungus-takes-over-ants.
    </p>
    <p>
        Wikipedia. (2020). Ophiocordyceps Unilateralis. [online] Available at: https://en.wikipedia.org/wiki/Ophiocordyceps_unilateralis.
    </p>
    <p>
        Wikipedia Contributors (2019). The War of the Worlds. [online] Wikipedia. Available at: https://en.wikipedia.org/wiki/The_War_of_the_Worlds.
    </p>
    <p>
        Vertical (2023). https://youtu.be/5BCzlUXIpGo?t=54. Youtube.com. Available at: https://youtu.be/5BCzlUXIpGo?t=54 [Accessed 19 May 2025].
    </p>
</section>