<h1>Research</h1>
<section class="glow2">
<h2>Primary Research</h2>
<p>
For my primary research I put out a google form to gather insite on the topic for my game and overall feed back.
<br><br>
For the first question, I asked if they liked the cyberpuck style, with an image showing the style I plan to use for my game.93.1% of surveyed people said they liked or mostly liked the cyberpunk style that I aim to make my game in. This shows me that a large part of my target audience would like the style that I'm going for.
<br><br>
I then went on to ask what types of weapons they would expect to have in a cyberpunk game.
<br><br>
Again, 93.1% of people expect to have ultra-modern or at least modern style weapons in a cyberpunk game. This means that I know that I should probably have ultra-modern weapons in my game.
<br><br></p>

</section>
<section class="glow1">
<h2>Secondary Research</h2>
<p>
Ophiocordyceps unilateralis fungus:
The fungus “Ophiocordyceps unilateralis fungus” is commonly known as the zombie-ant fungus (Wikipedia, 2020). This fungus uses ants as hosts typically is typically found in tropical forests (Lu, 2019). It infects the ant by penetrating the exoskeleton and slowly growing inside the ant and taking control over its behavior. Once in full control, the fungus moves the ant into a warm and humid location near the ground, ideal for distributing its spores (Petruzzello, 2023). The fungus will cause the ant to climb up a nearby twig or stem and lock onto it with its jaws (Science Section, Library of Congress). Soon after death follows, the fungus finishes digesting the cadaver before its final stage. For the final stage of the fungus cycle, it erects a stalk from the base of the ant's head that will release spores to infect other ants (Science Section, Library of Congress).
<br><br>
The fungus does not directly control the ants brain instead it uses bioactive compounds that interact directly with the ant’s nervous system and directly control the ants muscles, (Lu, 2019). The fungus also differs from typical zombie lore as it does not typically infect and entire colony to keep the ecosystem balanced the fungi only infect a few ants at any given time, (Lu, 2019). 
<br><br>
The fungi also seems to have a good level of control on where the anys dye as graveyards of dozens of ants infected with ophiocordyceps unilateralis have been found together. This suggest just how precisely the fungus can control the death of the infected, (Petruzzello).
<br><br>
<br><br>
SkyNet
Skynet is a highly advanced artificial intelligence system in the Terminator universe. It became self-aware and saw humanity as a threat it its existence (“Skynet Fandom Wiki”).
<br><br>
This links into the growing excitement and anxiety of the impact technology would have on the world. The 1990s laid the groundwork for many of the technologies that we use today (Building Brands Marketing, 2024). SkyNet embodies the anxiety and rapid development to show the fear that automated systems could one day suppress human control, this concern.
<br><br>
This also links to modern-day AI such as OpenAI and Chat-GPT, and the fear that it could become self-aware and try to take over the world like SkyNet did. In a very dystopian twice, Sam Altman, the creatore of OpenAI is often seen walking around with a blue backpack that carrays his laptop that contains the power to shutdown Chat-GPT if it gets out of control the same way SkyNet did (Arpit Dubey, 2023).
<br><br>
This then led to what is known as “Judgement Day,” where SkyNet strategically launched the USA’s weapons at Russia, so why would they retaliate and cause global devastation (Wikipedia Contributors, 2025), this disaster took the lives of 3 billion people (FilmComicsExplained, 2018). 
<br><br>
This is commonly known as MAD or “mutual assured destruction”, it is a form of military doctrine in which involves two equally armed nations that have enough nuclear weapons to completely destroy the other side. So if one attacks, it would cause the other to retaliate until they have both been completely annihilated (Wikipedia Contributors, Mutual Assured Destruction, 2019).
<br><br>
The Skynet system was originally created in the mid 90’s by the Cyberdyne System, Its original purpose was to aid the Strategic Air Command and the North American Air Defence Initiative (FilmComicsExplained, 2018). 
<br><br>
<br><br>
War of the Worlds
War of the Worlds is a book written by H.G. Wells in the late 1890s. It is one of the earliest stories to talk about conflict between humans and an extraterrestrial race (Wikipedia Contributors, The War of the Worlds, 2019). The novel starts a few years before the invasion, where an unnamed narrator and other observers notice spot flashes of light coming from Mars. The narrator went to inform his companion.
<br><br>
</p>
</section>
<section class="glow4">
<h3>Bibliography</h3>
<br><br>Arpit Dubey (2023). Sam Altman’s Nuclear Backpack Holds the Code to save the World from AI. [online] MobileAppAaily. Available at: https://www.mobileappdaily.com/news/sam-altmans-nuclear-backpack-holds-the-code-to-save-the-world-from-ai.
<br><br>Building Brands Marketing (2024). The 1990s Tech Innovations That Changed Marketing Forever. [online] Building Brands Marketing. Available at: https://buildingbrandsmarketing.com/1990s-tech-innovations-in-marketing/.
<br><br>FilmComicsExplained (2018). SKYNET (TERMINATOR Explored). [online] YouTube. Available at: https://www.youtube.com/watch?v=xWsyw_8HToI [Accessed 21 May 2025].
<br><br>Lu, J. (2019). How a Parasitic Fungus Turns Ants into ‘zombies’. [online] National Geographic. Available at: https://www.nationalgeographic.com/animals/article/cordyceps-zombie-fungus-takes-over-ants.
<br><br>Parshall, A. (2023). Could the Zombie Fungus in TV’s The Last of Us Really Infect People? [online] Scientific American. Available at: https://www.scientificamerican.com/article/could-the-zombie-fungus-in-tvs-the-last-of-us-really-infect-people/ [Accessed 19 May 2025].
<br><br>Petruzzello, M. (2023). Zombie-ant Fungus | Description, Infection, Life Cycle, Humans, & Facts | Britannica. [online] www.britannica.com. Available at: https://www.britannica.com/science/zombie-ant-fungus.
<br><br>Science Section, Library of Congress (2024). What’s up with Zombie ants? [online] Library of Congress, Washington, D.C. 20540 USA. Available at: https://www.loc.gov/everyday-mysteries/biology-and-human-anatomy/item/whats-up-with-zombie-ants/.
<br><br>SparkNotes. (n.d.). The War of the Worlds: Plot Overview. [online] Available at: https://www.sparknotes.com/lit/war-of-the-worlds/summary/.
<br><br>Terminator Wiki. (2009). Skynet Fandom Wiki. [online] Available at: https://terminator.fandom.com/wiki/Skynet.
<br><br>Vertical (2023). https://youtu.be/5BCzlUXIpGo?t=54. Youtu.be. Available at: https://youtu.be/5BCzlUXIpGo?t=54 [Accessed 19 May 2025].
<br><br>Wikipedia Contributors (2020a). Ophiocordyceps Unilateralis. [online] Wikipedia. Available at: https://en.wikipedia.org/wiki/Ophiocordyceps_unilateralis.
<br><br>Wikipedia Contributors (2020b). Skynet (Terminator). [online] Wikipedia. Available at: https://en.wikipedia.org/wiki/Skynet_(Terminator).
<br><br>Wikipedia Contributors (2025). Skynet (Terminator) Terminator 2: Judgment_Day. [online] Wikipedia. Available at: https://en.wikipedia.org/wiki/Skynet_(Terminator)#Terminator_2:_Judgment_Day.
<br><br>Wikipedia Contributors, Mutual Assured Destruction (2019). Mutual Assured Destruction. [online] Wikipedia. Available at: https://en.wikipedia.org/wiki/Mutual_assured_destruction.
<br><br>Wikipedia Contributors, The War of the Worlds (2019). The War of the Worlds. [online] Wikipedia. Available at: https://en.wikipedia.org/wiki/The_War_of_the_Worlds.
<br><br>Wikipedia. (2020). Ophiocordyceps Unilateralis. [online] Available at: https://en.wikipedia.org/wiki/Ophiocordyceps_unilateralis.

</section>
